<div class="md:flex flex-row flex-wrap" data-theme="dark">
    <div class="grow-0 m-2 p-2">
    <h4><a href="#">Khancho.com</a></h4>
    </div>
    <div class="grow m-2 p-2">
        <ul class="md:flex flex-row justify-center gap-5">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        </div>
     <div class="grow-0 m-2 p-2">
            <p>&copy;{{CurrentYear}} Khancho Technology</p>
    </div>
</div>