
<div class="flex flex-col gap-1 flex-wrap items-left px-2 py-4">
        <div class="m-0 p-0 prose">
        <h4 class="bg-red-200 p-3">Recent Post</h4>
        <p>Recent Paragraph<a class="link link-hover block" href="#">Read more...</a></p>
        </div>
        <div class="bg-white-200 w-full h-0.5"></div>
        <div class="m-0 p-0 prose">
        <h4 class="bg-red-200 p-3">Popular Post</h4>
        <p>Popular Paragraph<a class="link link-hover block" href="#">Read more...</a></p>
        </div>
</div>

